[submodule "third_party/qwen-asr"]
	path = third_party/qwen-asr
	url = https://github.com/antirez/qwen-asr
[submodule "third_party/Qwen3-ASR"]
	path = third_party/Qwen3-ASR
	url = https://github.com/QwenLM/Qwen3-ASR
